body
    margin: 0
    font-family: poppins
    width: 100vw
    overflow-x: hidden

p, h1, h2
    margin: 0
    padding: 0

.center-v
    display: flex
    align-items: center

button
    font-family: inherit
    cursor: pointer

@mixin flex-center($ver:false)
    display: flex
    justify-content: center
    align-items: center
    @if $ver
        flex-direction: column


.themebar
    position: fixed
    right: 0
    top: 50%
    transform: translateY(-50%) translateX(155px)
    display: flex
    align-items: flex-start
    transition: all 300ms ease-in
    &.active
        transform: translateY(-50%) translateX(0)
    ion-icon
        z-index: 88
        padding: 5px
        font-size: 1.4em
        cursor: pointer
        border: 1px solid rgba(0, 0, 0, .1)
        background: rgba(255, 255, 255, .8)
        border-radius: 7px 0 0 7px
        color: #464646
        transition: all 250ms ease
        &:hover
            color: var(--accent)
    .theme-sect
        background: #fff
        width: 130px
        padding: 5px 10px
        border-radius: 0 0 0 8px
        border: 1px solid rgba(0, 0, 0, .1)
        filter: drop-shadow(rgba(0, 0, 0, .3) 0 0 5px)
        p
            position: relative
            text-align: center
            color: #454545
            font-weight: 600
            &::after
                content: ""
                position: absolute
                bottom: 0
                left: 50%
                transform: translateX(-50%)
                width: 80%
                height: 1px
                background: rgb(30, 30,30)
        .themes
            display: flex
            flex-wrap: wrap
            justify-content: center
            padding: 10px
            gap: .7em
            div
                width: 15px
                height: 15px
                border-radius: 50%
                cursor: pointer
            .box1
                background: #db2121
            .box2
                background: #1d67c7
            .box3
                background: #e6c925
            .box4
                background: #921ec0

header
    display: flex
    align-items: center
    justify-content: space-between
    background-color: white
    padding: 15px
    color: #353535

    .logo
        font-size: 24px
        font-weight: bold
        color: var(--accent)
        text-decoration: none
        transition: all 250ms ease

    nav
        display: flex
        gap: 2em
    .link
        color: #353535
        text-decoration: none
        position: relative
        ion-icon
            font-size: 1.4em
        &.center-v
            display: flex
            align-items: center
        &:hover
            color: var(--accent)
            transition: all 250ms ease
        &::before
            content: ''
            position: absolute
            bottom: 0
            width: 100%
            height: 2px
            background-color: var(--accent)
            transform: scaleX(0)
            // transform-origin: left
            transition: transform 0.3s ease-in-out
        &:hover::before
            transform: scaleX(1)

    .hamburger
        display: none
        cursor: pointer
        flex-direction: column
        justify-content: space-between
        height: 30px
        width: 35px
        border: 1px solid var(--accent)
        transition: all 250ms ease
        position: relative
        overflow: hidden

        &.active
            .bar1
                top: 50%
                left: 50%
                transform: translateX(-50%) translateY(-50%) rotateZ(-135deg)
            .bar2
                left: 200%
            .bar3
                bottom: 50%
                transform: translateX(-50%) translateY(50%) rotateZ(135deg)
        div
            position: absolute
            width: 25px
            height: 3px
            background-color: var(--accent)
            border-radius: 2px
            transition: all 350ms ease-out
        .bar1
            top: 5px
            left: 50%
            transform: translateX(-50%)
        .bar2
            top: 50%
            left: 50%
            transform: translateY(-50%) translateX(-50%)
        .bar3
            bottom: 5px
            left: 50%
            transform: translateX(-50%)

// Responsive styles for mobile view
@media only screen and (max-width: 792px)
    header
        nav
            position: fixed
            left: 0
            top: 70px
            flex-direction: column
            align-items: center
            width: 100vw
            gap: 0
            transform: translateX(-100%)
            transition: all 250ms ease-out
            &.active
                transform: translateX(0)
            .link
                background: rgba(0, 0, 0, .5)
                backdrop-filter: blur(1px)
                @include flex-center()
                padding: 15px 0
                font-weight: 800
                width: 100%
                color: #fff
        .hamburger
            display: block

.mail-notification
    z-index: 999
    display: none
    position: fixed
    left: 0
    top: 0
    width: calc(100vw - 40px)
    justify-content: space-between
    padding: 5px 20px
    color: #fff
    border-bottom: 1px solid #fff
    p
        margin: 0
    .close-noti

        cursor: pointer
        font-weight: 1000
        font-size: 1.5em
        border-radius: 50%
        transition: all 250ms
        &:hover
            background: rgba(255, 255, 255,.3)



/* Global styles */
body
  margin: 0
  padding: 0
  font-family: Arial, sans-serif

/* Main content styles */
.main-content
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: calc(100vh - 70px)

/* Buttons to toggle between forms */
.toggle-buttons
    display: flex
    margin-bottom: 20px
    button
        transition: all 250ms ease-in

.button-title
    font-size: 18px
    font-weight: normal
    margin-right: 10px
    color: #333
    text-decoration: none
    border: none
    background-color: transparent
    cursor: pointer
    font-family: inherit

    &.active
        color: var(--accent)
        transition: all 250ms ease
        text-decoration: underline

/* Forms styles */
.log-form
  display: none
  max-width: 400px
  width: 100%
  background-color: rgba(240, 240, 240, 0.9) /* Slight grey background */
  padding: 30px /* Increased padding */
  border-radius: 10px /* Rounded corners */
  text-align: center
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1)) /* Drop-shadow effect */

.active-form
  display: block

/* Align inputs vertically */
.registration-form input,
.login-form input
  display: block
  width: 100%
  margin-bottom: 10px
  padding: 10px
  border: none
  border-bottom: 1px solid #ccc
  border-radius: 0
  background-color: transparent
  text-align: center
  font-family: inherit

input[type="submit"]
  background-color: var(--accent)
  transition: all 250ms ease
  color: white
  font-family: inherit

/* Remove outline on focus */
.registration-form input:focus,
.login-form input:focus
  outline: none
  border-bottom: 2px solid var(--accent)
  transition: all 250ms ease


.verify-page
    width: 100vw
    height: 100vh
    background-color: rgb(230, 230, 230)
    @include flex-center()
    .verify-sect
        @include flex-center(true)
        gap: 1em
        p
            font-size: 2em
            color: rgb(100, 100, 100)
        span
            color: rgb(80, 80, 80)
        button
            font-family: inherit
            padding: 10px 15px
            border: 1px solid rgba(0, 0, 0, .1)
            border-radius: 10px
            color: #353535
            cursor: pointer
            background-color: rgb(230, 230, 230)
            filter: drop-shadow(rgba(0, 0, 0, .2) 0 5px 4px)
            transition: all 250ms
            &:hover
                filter: drop-shadow(rgba(0, 0, 0, .1) 0 2px 1px)
            a
                text-decoration: none
                color: inherit


.dash-container
  width: 100vw
  height: calc(100vh - 70px)
  display: flex

.d-sidebar
  width: 250px
  max-height: 100%
  background: rgb(240, 240, 240)
  transition: background-color 0.3s
  border-right: 1px solid rgba(0, 0, 0, 0.1)
  padding: 20px
  display: flex
  flex-direction: column

  button
    width: 100%
    padding: 15px 10px 15px 10px
    margin-bottom: 10px
    background-color: white
    border: 1px solid #ccc
    border-radius: 4px
    cursor: pointer
    transition: background-color 0.3s, border-color 0.3s
    color: #333

    &:hover
      background-color: #f0f0f0
      border-color: #aaa

    &.active
      background-color: var(--accent)
      color: white
      border-color: var(--accent)
      transition: all 250ms ease

.d-mainbar
  flex: 1
  padding: 20px
  background-color: #f5f5f5
  overflow-y: auto /* Enable vertical scrollbar when content exceeds the height */

  .addemployee, .employees
    display: none

  .active.addemployee, .active.employees
    display: block

  .d-form-sect
    max-width: 400px
    margin: 0 auto

    form
      display: flex
      flex-direction: column

      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="submit"]
        margin-bottom: 10px
        padding: 10px
        border: 1px solid #ccc
        border-radius: 4px

      input[type="submit"]
        background-color: var(--accent)
        transition: all 250ms ease
        color: white
        cursor: pointer

        &:hover
          background-color: #555


.d-mainbar
  padding: 20px
  background-color: #f5f5f5
  overflow-y: auto

  .employee-table
    width: 100%
    border-collapse: collapse
    border: 1px solid #ddd

    th, td
      padding: 12px
      text-align: left
      border-bottom: 1px solid #ddd

    th
      background-color: var(--accent)
      transition: all 250ms ease
      font-weight: 400
      color: #fff

    tr:hover
      background-color: #fff

    td:last-child
      text-align: center

      a
        background-color: var(--accent)
        transition: all 250ms ease
        text-decoration: none
        color: white
        padding: 6px 10px
        border: none
        cursor: pointer
        border-radius: 4px

.no-emp
    text-align: center
    margin-top: 100px
    color: rgb(200, 200, 200)


@media screen and (max-width: 576px)
  .d-form-sect
    max-width: 100%


/* Responsive Styles */

@media screen and (max-width: 768px)
  .dash-container
    flex-direction: column

  .d-sidebar
    width: 100%
    max-height: initial
    border-right: none
    padding: 20px 0
    display: flex
    flex-direction: row /* Align buttons horizontally */

  .d-mainbar
    flex: 1
    padding: 20px

  .d-sidebar button
    margin-right: 0 /* Remove the margin between buttons in responsive layout */

@media only screen and (max-width: 600px)
    .employee-table
        font-size: 14px

    td, th
        padding: 8px

    td:last-child
    a
        padding: 4px 8px